# Игнорируем build- директорию, так как она создается во время сборки
build/

# Игнорируем временные файлы и директории, созданные при сборке CMake
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake

# Игнорируем файлы, связанные с vcpkg, если они не нужны в контейнере
/vcpkg/

# Логи
*.log

# Игнорируем .git директорию, если не нужно копировать репозиторий в контейнер
.git/

# Игнорируем файлы, связанные с ОС
.DS_Store
Thumbs.db

# Если у вас есть папки для тестов или других целей, которые не нужны в контейнере
tests/
*.md